<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Курьер</title>
</head>
<body>

<form method="POST" action="/addOrder">
    Заказ №: <input type="number" name="orderId">
    <input type="submit" value="Не успеваю"/>
</form>
</body>
</html>
