<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Доставка</title>
</head>
<body>
<h2>Выбор пользователя</h2>
<p><a href="/courier">Курьер</a></p>
<p><a href="/operator">Оператор</a></p>
</body>
</html>