<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Успех</title>
</head>
<body>
<h2>Задание добавлено!</h2>
<form action="/courier">
    <input type="submit" value="Назад"/>
</form>
</body>
</html>